.statistic{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: flex;
    background: white;
    justify-content: space-between;
    margin: 0 auto;

    border: 1px solid #DCE9E2;
    border-radius: 6px;
}

@media (max-width: 1050px) {
    .statistic{
        display: flex;
        flex-direction: column;
        width: 80%;
        left: 0;
        right: 0;
        
    }
}